node_modules
npm-debug.*
*.log
.DS_Store
public
_drafts
.forestry
.github
.nojekyll
src/images/HitrecordcollaboratorSS.png
src/images/HitRecordExistingWorkflow.jpg
src/images/HitRecordHMWCommunityEngagement.jpg
src/images/HitRecordHMWFindInterestingRecords.jpg
src/images/HitRECordPersonasDrawing.jpg
src/images/HitRecordRegisterWorkflow.jpg
src/images/HitRecordSiteFlowSketch.jpg
src/images/hitrecordspreadsheet.png
src/images/HitRecordSS.png
src/images/hR-onboarding-PIP.png
src/images/hRAllPersonas.png
src/images/HRcards.png
src/images/hRCollaboratorJobs.png
src/images/hRCommunityMotivations.jpg
src/images/hRdashboard.jpg
src/images/hRInfoArchi.jpg
src/images/hRSketchAboutHR.jpg
src/images/hRSketchCollab.jpg
src/images/hRSketchDashboard.jpg
src/images/hRSpongeJobs.png
src/images/hRTreejackTestPath.png
src/images/IcebergOfCOVIDOps.png
src/images/InterlucentERD.jpg
src/images/InterlucentHospitalProfileSketch.jpg
src/images/InterlucentHospitalRatingsWireframe.jpg
src/images/InterlucentPayerUserScenarioSketch.jpg
src/images/InterlucentRegCustomerUserScenarioSketch.jpg
src/images/InterlucentRichCustomerUserScenarioSketch.jpg
src/images/InterlucentSearchProceduresWireframe1.jpg
src/images/InterlucentSearchProcedureWireframe.jpg
src/images/InterlucentSearchtoResultsSketch.jpg
src/images/KariHand.jpg
src/images/LADBSDept1sketch.jpg
src/images/LADBSDept2sketch.jpg
src/images/LADBSEPlanDesignWorkshop.jpg
src/images/LADBSHome.jpg
src/images/LADBShomepagesketch.jpg
src/images/LADBSIDIS-screensWEB.jpg
src/images/LADBSIntranetStickies.jpg
src/images/LADBSIntranetWireframes.jpg
src/images/LADBSPlanCheckPgSub.jpg
src/images/LADBSResponsiveSet.jpg
src/images/ladbsSunset.jpg
src/images/livetweetingfeatured.jpg
src/images/MOHCDHomepageSketches1.jpg
src/images/MOHCDHomepageSketches2.jpg
src/images/MOHCDOriginalDALP.png
src/images/MOHCDOwnershipApplicantJourneyCubicle.jpg
src/images/MomWithTyler.jpg
src/images/MosconeDesk.jpg
src/images/Pasted_image_20240413171910.jpg
src/images/Pasted_image_20240413171910.png
src/images/Pasted_image_20240414004120.jpg
src/images/Pasted_image_20240414004120.png
src/images/Pasted_image_20240414004403.png
src/images/Pasted_image_20240414010157.jpg
src/images/Pasted_image_20240414010157.png
src/images/Pasted_image_20240414010337.png
src/images/PCRFluorophoreScreen.jpg
src/images/PCRGradient.jpg
src/images/PCRLayoutScreen.jpg
src/images/PCRPeterUserFlow.png
src/images/PCRProgramlist.jpg
src/images/PCRProtocolTemplate.jpg
src/images/PCRSarahUserFlow.png
src/images/PCRUserPersonas.jpg
src/images/PCRUserPersonas2.jpg
src/images/PCRusertesting.png
src/images/PMALA.jpg
src/images/poster1-wordconcept.jpg
src/images/poster2-cartershah.jpg
src/images/poster3-declarationconcept.jpg
src/images/postercravegrave.jpg
src/images/PosterOilPosterHeld.jpg
src/images/posterpetrolperil.jpg
src/images/ScalifapCoursepage.jpg
src/images/scalifapearlybio.jpg
src/images/scalifapearlycourselist.jpg
src/images/scalifapearlyhome.jpg
src/images/ScalifapHome.jpg
src/images/ScalifapHomeMockup.jpg
src/images/ScalifapLocation.jpg
src/images/ScalifapRegistration.jpg
src/images/SDContentSketch.jpg
src/images/SDhome.png
src/images/SDHomeWireframe.png
src/images/SDRegionPageWireframe.png
src/images/SFFDWorkshop.jpg
src/images/SFgovHousing.png
src/images/SFGovStayHomeLogo.png
src/images/SFMOHCD.jpg
src/images/SFMOHCDAfterLottery.png
src/images/SFMOHCDnew.png
src/images/SFoath.jpg
src/images/STmenu_flyout.png
src/images/STrequirements.png
src/images/STsearch_results_static.png
src/images/TechFairLAWEB.jpg
src/images/ToriBoxDisplay.jpg
src/images/Toriboxlabelinfo.jpg
src/images/ToriCDholdertemplates.jpg
src/images/ToriClosedBox.jpg
src/images/toridiscography.jpg
src/images/Torigirlbooklet.jpg
src/images/Torigirlbooklet2.jpg
src/images/Torimotherbooklet.jpg
src/images/Torimotherbooklet2.jpg
src/images/ToriOpenBox.jpg
src/images/toripele.jpg
src/images/Toripelebooklet.jpg
src/images/Toripelebooklet2.jpg
src/images/WooCouponsCode.png
src/images/wssr evidence mockup.jpg
src/images/WSSRaudience.jpg
src/images/WSSREvidence.jpg
src/images/WSSRIntro.jpg
src/images/WSSRinvestigationstemplate.jpg
src/images/WSSROutofTime.jpg
src/images/WSSRPersonas.jpg
src/images/wssrsitemapscreenshot1.jpg
src/images/WSSRtemplateintro.jpg
src/images/WSSRTheJoker.jpg
src/images/WSSRuserflow.jpg
src/images/WSSRuserflow.jpg
src/images/WSSRTheJoker.jpg
src/images/WSSRtemplateintro.jpg
src/images/wssrsitemapscreenshot1.jpg
src/images/WSSRPersonas.jpg
src/images/WSSROutofTime.jpg
src/images/WSSRinvestigationstemplate.jpg
src/images/WSSRIntro.jpg
src/images/WSSREvidence.jpg
src/images/WSSRaudience.jpg
src/images/wssr evidence mockup.jpg
src/images/WooCouponsCode.png
src/images/Toripelebooklet2.jpg
src/images/Toripelebooklet.jpg
src/images/toripele.jpg
src/images/ToriOpenBox.jpg
src/images/Torimotherbooklet2.jpg
src/images/Torimotherbooklet.jpg
src/images/Torigirlbooklet2.jpg
src/images/Torigirlbooklet.jpg
src/images/toridiscography.jpg
src/images/ToriClosedBox.jpg
src/images/ToriCDholdertemplates.jpg
src/images/Toriboxlabelinfo.jpg
src/images/ToriBoxDisplay.jpg
src/images/TechFairLAWEB.jpg
src/images/STsearch_results_static.png
src/images/STrequirements.png
src/images/STmenu_flyout.png
src/images/SFoath.jpg
src/images/SFMOHCDnew.png
src/images/SFMOHCDAfterLottery.png
src/images/SFMOHCD.jpg
src/images/SFGovStayHomeLogo.png
src/images/SFgovHousing.png
src/images/SFFDWorkshop.jpg
src/images/SDRegionPageWireframe.png
src/images/SDHomeWireframe.png
src/images/SDhome.png
src/images/SDContentSketch.jpg
src/images/ScalifapRegistration.jpg
src/images/ScalifapLocation.jpg
src/images/ScalifapHomeMockup.jpg
src/images/ScalifapHome.jpg
src/images/scalifapearlyhome.jpg
src/images/scalifapearlycourselist.jpg
src/images/scalifapearlybio.jpg
src/images/ScalifapCoursepage.jpg
src/images/posterpetrolperil.jpg
src/images/PosterOilPosterHeld.jpg
src/images/postercravegrave.jpg
src/images/poster3-declarationconcept.jpg
src/images/poster2-cartershah.jpg
src/images/poster1-wordconcept.jpg
src/images/PMALA.jpg
src/images/PCRusertesting.png
src/images/PCRUserPersonas2.jpg
src/images/PCRUserPersonas.jpg
src/images/PCRSarahUserFlow.png
src/images/PCRProtocolTemplate.jpg
src/images/PCRProgramlist.jpg
src/images/PCRPeterUserFlow.png
src/images/PCRLayoutScreen.jpg
src/images/PCRGradient.jpg
src/images/PCRFluorophoreScreen.jpg
src/images/MosconeDesk.jpg
src/images/MOHCDOwnershipApplicantJourneyCubicle.jpg
src/images/MOHCDOriginalDALP.png
src/images/MOHCDHomepageSketches2.jpg
src/images/MOHCDHomepageSketches1.jpg
src/images/livetweetingfeatured.jpg
src/images/ladbsSunset.jpg
src/images/LADBSResponsiveSet.jpg
src/images/LADBSPlanCheckPgSub.jpg
src/images/LADBSIntranetWireframes.jpg
src/images/LADBSIntranetStickies.jpg
src/images/LADBSIDIS-screensWEB.jpg
src/images/LADBShomepagesketch.jpg
src/images/LADBSHome.jpg
src/images/LADBSEPlanDesignWorkshop.jpg
src/images/LADBSDept2sketch.jpg
src/images/LADBSDept1sketch.jpg
src/images/InterlucentSearchtoResultsSketch.jpg
src/images/InterlucentSearchProcedureWireframe.jpg
src/images/InterlucentSearchProceduresWireframe1.jpg
src/images/InterlucentRichCustomerUserScenarioSketch.jpg
src/images/InterlucentRegCustomerUserScenarioSketch.jpg
src/images/InterlucentPayerUserScenarioSketch.jpg
src/images/InterlucentHospitalRatingsWireframe.jpg
src/images/InterlucentHospitalProfileSketch.jpg
src/images/InterlucentERD.jpg
src/images/IcebergOfCOVIDOps.png
src/images/hRTreejackTestPath.png
src/images/hRSpongeJobs.png
src/images/hRSketchDashboard.jpg
src/images/hRSketchCollab.jpg
src/images/hRSketchAboutHR.jpg
src/images/hRInfoArchi.jpg
src/images/hRdashboard.jpg
src/images/hRCommunityMotivations.jpg
src/images/hRCollaboratorJobs.png
src/images/HRcards.png
src/images/hRAllPersonas.png
src/images/hR-onboarding-PIP.png
src/images/HitRecordSS.png
src/images/hitrecordspreadsheet.png
src/images/HitRecordSiteFlowSketch.jpg
src/images/HitRecordRegisterWorkflow.jpg
src/images/HitRECordPersonasDrawing.jpg
src/images/HitRecordHMWFindInterestingRecords.jpg
src/images/HitRecordHMWCommunityEngagement.jpg
src/images/HitRecordExistingWorkflow.jpg
src/images/HitrecordcollaboratorSS.png
