---
title: 404, sadface
layout: base.njk
permalink: /404.html
eleventyExcludeFromCollections: true
---

<div class="post-list">
<h1>Oops! Couldn’t find that page. &#128553;</h1>
  <p>I seem to have borked a link. Sorry about that!</p>
  <p>You can:
    <ul>
      <li><a href="mailto:design@anitacheng.com?subject=You've got a broken link on your site!">Let me know</a> about the broken link</li>
      <li><a href="/work/">See my work</a></li>
      <li><a href="/writing/page-1/">Read my writing</a></li>
      <li><a href="https://www.youtube.com/watch?v=HBxn56l9WcU" title="Get ready to be squeaked at!">Commiserate with this angry yet adorable frog &#128056;</a></li>
    </ul>    
  </p>
</div>