--- 
layout: base.njk 
title: Speaking
permalink: /speaking/
description: Talks about UX, content design, and working in government.
---
<header class="archive">
<h1>Speaking</h1>
{% image "src/images/Confab2019LightningTalk.jpg", "Asian woman with long hair speaks on a stage with a mic attached to her green long-sleeved shirt.", "Anita speaks on stage at Confab 2019." %}
</header>
<article class="post">
<p>I believe in the power of knowledge. But to have power, knowledge must be shared. I share my knowledge and passion even with my <a href="/writing/freakin-unicorn">stutter</a>, because that's how much I believe.</p>

<p>I have spoken at Confab, An Event Apart, IA Conference, Code for America, and various events in San Francisco and Los Angeles.</p>

<p>As of 2024, I’m available for virtual conferences or events local to the San Francisco Bay Area. <a href="mailto:design@anitacheng.com">Email me</a> for details.</p>
</article>

<div class="wave-divider">
</div>
<section class="archive post">
<h2>Past talks</h2>
{% include "conference-list.njk" %}
</section>