---
layout: base.njk
---

<article class="work">
  <header id="work-excerpt">
    <h1>{{ title | safe }}</h1>
    <div class="post__details">
      <span>{{ work_type }}</span>
      {% if start_date %}
        <span><strong>Duration:</strong> {{ start_date }} {% if end_date %}to {{ end_date }}{% endif %}</span>
      {% endif %}
      <span class="work-direction">{{ work_direction | safe }}</span>
      <section class="work-contribution"><lh><em>What I did: </em></lh>{{ work_contribution | safe }}</section>
      <span>{{ work_description | safe }}</span>
    </div>
  </header>

  <section class="work-post__content">
    {% image image, imagealt, imagecaption %}

    {{ content | safe }}
  
  <div class="wave-divider"></div>
  <aside class="post__aside">

    <nav class="post__pagination">
      {%- set nextPost = collections.work | getNextCollectionItem(page) %}
      {%- if nextPost %}

        <a href="{{ nextPost.url | url }}" title="Next work">
          ←
          <span>{{ nextPost.data.title | safe  }}</span>
        </a>

      {% endif %}

      {%- set previousPost = collections.work | getPreviousCollectionItem(page) %}
      {%- if previousPost %}

        <a href="{{ previousPost.url | url }}" title="Previous work">
          <span>{{ previousPost.data.title | safe }}</span>
          →
        </a>

      {% endif %}
    </nav>
  </aside>
  </section>

</article>